@import "./assets/styles/colors.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.navbar {
  background-color: var(--primary);
  width: 100%;
  height: 69px;
  padding: 0 1rem 0 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  position: fixed;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  height: 69px;
}

.navbar nav .brand {
}

.navbar nav .navigation {
  height: 100%;
}

.navbar nav .navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.navbar nav .navigation ul li {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar nav .navigation ul li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.navbar .social-medias {
  width: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  width: 100%;
  position: relative;
  display: flex;
  height: 490px;

}

.carousel {
  height: 100%;
  display: flex;
  position: absolute;
  gap: 2%;
  z-index: 1;
  left: 20%;
  transition: transform 1s ease-in-out;
}


.carousel-item {
  height: 100%;
  z-index: 2;
  flex-shrink: 0;
}

.carousel-item img {
  height: 100%;
  z-index: 1;
}

.right-blur,
.left-blur {
  position: absolute;
  height: 100%;
  width: 19.5%;
  z-index: 4;
}

.right-blur {
  filter: blur(10px);
  background-color: white;
  opacity: 0.35;
  backdrop-filter: blur(10px);
  box-shadow: 10px 20px 20px white;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  right: 0;
}

.left-blur {
  background-color: #ffffff;
  opacity: 0.35;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 10px 20px 20px white;
}
